@model Web_Ban_Quan_Ao.Models.Clothing

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Clothing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.name_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.name_category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufacture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.decription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.decription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_clothing }) |
    @Html.ActionLink("Back to List", "Index")
</p>
