@model IEnumerable<Web_Ban_Quan_Ao.Models.Clothing>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.name_category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manufacture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.decription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.name_category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manufacture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.decription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.images)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_clothing }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_clothing }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_clothing })
        </td>
    </tr>
}

</table>
